#jogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;

}

.portas{
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
    gap: 10px;
}

.botoes{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botoes button{
    background-color: #c0392c;
    color: #fff;
    font-size: 2rem;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .portas {
      flex-direction: column;
      align-items: center;
    }
  
    .botoes button {
      width: 100%;
      font-size: 1.5rem;
    }
  }